body {
  background-color: black;
  color: white;
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 40px;

}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 44px;
  height: 44px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 44px;
}

.sides {
  background-color: #999;
  color: black;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 44px;
  height: 44px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 4px;
  text-align: center;
  width: 94px;
}

.clicked {
  background-color: black;
  border: 2px solid #006400;
}

.played {
  background: #006400;
}
